name: Generate Docs
on:
  push:
    branches:
      - 'main'
jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Node
        uses: ./.github/actions/setup-node
      - name: Build
        run: yarn build
      - name: Build Docs
        run: yarn typedoc
      - uses: actions/upload-pages-artifact@v3
        with:
          path: ./docs
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
