name: Run tests
on:
  push:
defaults:
  run:
    shell: bash
jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Node
        uses: ./.github/actions/setup-node

      - name: Run lint
        run: yarn lint

  build:
    name: "Build and Test"
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Node
        uses: ./.github/actions/setup-node

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build Typescript
        run: |
          yarn build

      - name: Run tests
        run: |
          yarn test


